NODE_ENV=production
PORT=3000
JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
ADMIN_EMAIL=gissupaul@gmail.com
ADMIN_PASSWORD=CHANGE_THIS_BEFORE_DEPLOY
SCHOOL_EMAIL=gissupaul@gmail.com
ENQUIRY_PHONE=8002856232
SCHOOL_PHONE=8002856232
WHATSAPP_NUMBER=918002856232
GOOGLE_MAPS_URL=https://maps.app.goo.gl/HM6fdTA9vr6o7xXG9
